@model EmployeeSkillVM


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Assign Skill</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" asp-action="UpdateSkill">
            <div class=" border p-3 mt-4 bg- ">
                <input asp-for="EmployeeSkill.Id" hidden />
                <input asp-for="EmployeeSkill.EmployeeId"  value = "@Model.Employee.Id" hidden/>
                @* <div asp-validation-summary="ModelOnly"></div> *@
                
                <div class=" form-floating py-2 col-12">
                <select asp-for="@Model.EmployeeSkill.SkillId" asp-items="@Model.SkillList"
                class="form-select border-1 shadow">
                <option disabled selected>--Select Skill List--</option>
                </select>
                <label asp-for="EmployeeSkill.SkillId" class="ms-2"></label>
                <Span asp-validation-for="EmployeeSkill.SkillId" class="text-danger"></Span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="EmployeeSkill.ratingsInSkill" class="form-control border-1 shadow" />
                    <label asp-for="EmployeeSkill.ratingsInSkill" class="ms-2"></label>
                    <Span asp-validation-for="EmployeeSkill.ratingsInSkill" class="text-danger"></Span>
                </div>

                <div class=" form-floating py-2 col-12">
                    <input asp-for="EmployeeSkill.experienceInSkill" class="form-control border-1 shadow">
                    <label asp-for="EmployeeSkill.experienceInSkill" class="ms-2"></label>
                    <Span asp-validation-for="EmployeeSkill.experienceInSkill" class="text-danger"></Span>
                </div>


                <div class="row pt-4 justify-content-center">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-dark  form-control no-hover">Update</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="EmployeeSkillManage" asp-action="Index"
                           class="btn btn-outline-dark form-control">
                            Back To List
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}