html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* overflow-x: hidden; */
}


/* #sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  padding-top: 60px;
  transition: all 0.3s;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 8px;
  color: white;
}

#sidebar a {
  text-decoration: none;
  color: white;
}

#sidebar button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#content {
  transition: margin-left 0.3s;
  padding: 16px;
} */